.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li {
    margin: 16px;
}

.page-item.active .page-link {
    background-color: var(--black-color-1st);
    color: var(--white-color-1st);
    border: none;
}

.visually-hidden {
    display: none;
}