.product {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.product .top .controls {
  display: flex;
  gap: 1px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.3s;
  opacity: 0;
  justify-content: center
}

.product .top,
.product .top a {
  width: 100%,
}

.product .top {
  position: relative;
}

.product img {
  width: 100%;
  aspect-ratio: 2/2.5;
  cursor: pointer;
  transition: all 0.3s;
}

.product .top:hover img {
  filter: brightness(0.9)
}

.product .top:hover .controls {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.top .controls button {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 16px;
}

.top .controls .big {
  width: 60%;
}

.top .controls button:disabled {
  opacity: 0.4;
}

.top .controls button:disabled:hover {
  background-color: #fff;
  color: #000
}

.top .controls button i {
  transition: none
}

.top .controls button:hover {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  height: auto
}

.bottom .name {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  gap: 16px;
}

.name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.name .sale_price {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}