.column {
  display: flex;
  flex-direction: column;
}

.column div {
  display: flex;
  flex-direction: column;
}

.column:first-of-type {
  gap: 20px
}

.column:first-of-type div div {
  flex-direction: row;
  justify-content: space-around
}

.column a {
  margin: 10px 0;
  font-size: 13px
}

.column div a:hover {
  color: var(--theme-color);
  text-decoration: underline
}

.fa-cc-visa {
  color: #1A1F71
}

.fa-cc-paypal {
  color: #009cde
}

.fa-cc-mastercard {
  color: #000
}

.fa-cc-amex {
  color: #002663
}

.column div img {
  width: 30px;
  height: 25px;
  border-radius: 5px;
  margin-top: 10px
}

.column .col {
  overflow: hidden;
  max-height: 500px;
  transition: all 0.3s;
}

.column h3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  color: var(--white-color-1st);
}

.column h3 i {
  display: none
}